Language: C
BasedOnStyle: Google
IndentWidth: 2
ContinuationIndentWidth: 4
AlignAfterOpenBracket: BlockIndent
BinPackArguments: true
BinPackParameters: true
MaxEmptyLinesToKeep: 2
SeparateDefinitionBlocks: Leave

